body {
  font-family: sans-serif;
  font-weight: 200; 
}

.navbar {
  margin-bottom: 50px; 
}

.errorMessage{
  margin-top: 20px; 
  padding: 5px; 
  color: white; 
  background: red; 
  text-align: center; 
  font-size: .95em
}